@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Alpine.js
    ======================================================================== */

  [x-cloak] {
    @apply hidden !important;
  }

  /* Separate
    ======================================================================== */

  .separate {
    @apply flex items-center text-center;
  }

  .separate::after,
  .separate::before {
    content: '';
    @apply border-b border-secondary-200 flex-1;
  }

  .separate:not(:empty)::after {
    @apply ml-2;
  }

  .separate:not(:empty)::before {
    @apply mr-2;
  }
}

body {
  background: rgb(253,239,249);
  background: linear-gradient(0deg, rgba(253,239,249,1) 0%, rgba(236,56,188,1) 33%, rgba(115,3,192,1) 66%, rgba(3,0,30,1) 100%);
}
